.gif, .cover {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.gif {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.6s ease-in-out;
  z-index: 1;
}

.gif.is-loading {
  opacity: 0;
}

.cover {
  background-color: white;
}
